.container .login {
  width: 200rpx;
  height: 90rpx;
  background-color: #ff0000;
  line-height: 90rpx;
  text-align: center;
  font-size: 36rpx;
  border-radius: 15rpx;
  color: #fff;
  margin-top: 40rpx;
  margin-left: 40%;
}
.container .userinfo {
  width: 100%;
  height: 180rpx;
  padding-top: 40rpx;
  border-bottom: 2rpx solid #fafafa;
  background-color: #fafafa;
}
.container .userinfo .userAvatar {
  width: 100rpx;
  height: 100rpx;
  border-radius: 50%;
  margin-left: 20rpx;
}
.container .userinfo .userinfo_name {
  display: flex;
  flex-direction: column;
  margin-left: 40rpx;
}
.container .userinfo .userinfo_name .name {
  font-size: 32rpx;
  color: #666;
}
.container .userinfo .userinfo_name .userId {
  font-size: 28rpx;
  color: #999;
  padding-top: 20rpx;
}
.container .userinfo .getline {
  position: absolute;
  top: 40rpx;
  right: 40rpx;
  width: 100rpx;
  height: 40rpx;
  color: #fff;
  font-size: 24rpx;
  text-align: center;
  line-height: 40rpx;
  border-radius: 20rpx;
  background-color: var(--themeColor);
}
